body {
    width: 1280px;
    height: 1626px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;
}

.header-navbar {
    width: 620px;
    height: 18px;
    font-size: 18px;
    margin: 31.5px 330px;
    padding: 0;
}

.navbar-item {
    display: inline;
    padding: 25.5px;
}

.header-navbar a {
    color: #F00;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.main-picture {
    width: 1280px;
    height: 789px;
}

.main {
    text-align: center;
    color: #373737;
}

.main-title {
    text-transform: uppercase;
    font-size: 22px;
}

.main-content {
    font-size: 16px;
}

.main-button {
    color: #FFF;
    background-color: #F00;
    font-weight: bold;
    font-size: 12px;
    padding: 18px 43.5px 17px 42.5px;
    text-transform: uppercase;
    margin: 66px auto 82px;
    letter-spacing: 1.8px;
}

.footer-content {
    color: #373737;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin: 0 105px 29px 0;
    line-height: 39px;
}